#on-title{
    background-color: blueviolet;
}

#navTitle{
    background-color: black;
    text-align: center;
}

#jumbo-text{
    background-color: rgb(202, 154, 247);
}

nav{
    background-color: blueviolet;
}

.jumboh4{
    padding-top: 2%;
}

.news-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }

a{
 text-decoration: none;
 color:black;
}